.sidebar {
}

.sidebar.open {
}

.background {
    background-color: green;
}

.nav {
    margin: 5px;
}

.nav a {
    color: blue;
}

.nav a:hover {
    color: green;
}

.nav a.active {
    color: red;
}
.close {
}

.close img {
}
