.button {
    padding: 10px;
    border-radius: 5px;
}

.disabled {
    color: gray;
}

.secondary {
   color: green;
}

.default {
    color: blue;
}

.red {
    color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
